<div class="col-xs-16 col-sm-10 col-lg-10" id='test'>
    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group ng-repeat="e in event" id="test" ng-click="test(e)">
            <uib-accordion-heading>{{e.name}} </uib-accordion-heading>
              <p>{{e.address}}, {{e.zip_code}} {{e.city}}</p>
              <strong>Tags:</strong>
                  <ul>
                      <li ng-repeat="tag in e.tags">{{tag.name}}</li>
                  </ul>
              <button type="button" class="btn btn-info" ng-click="editPub(e.id)">Edit</button>
              <button type="button" class="btn btn-danger" ng-click="deletePub(e.id)">Delete</button>
        </uib-accordion-group>
    </uib-accordion>
</div>
